.main{
    padding: auto;
    text-align: center;
    gap: 80px;
    padding: auto;
}

.size{
    font-size: 25px;
    align-items: center;
    font-weight: bolder;
}
.siz{
    font-size: 1.25rem;
    align-items: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box{
    display:flex ;
    flex-direction: column;
    align-items: center;
    width: 270px;
}
.btn-primary{
    width: 100%;
    overflow: hidden;
    background-color: darkorange;
    color: white;
    text-size-adjust: auto;
    height: 50px;
    border-color: darkorange;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: auto;
    row-gap: 60px;
    column-gap: -80px;
    justify-content: center;
    margin: 2% 3% 2% 10%;
    gap: 20px;
}

.flowers{
    padding-top: 200px;
    display: flex;
    margin: 2% 10%;
}

.writtings{
    padding-left: 40px;
    text-align: left;
}

body ul li{
    margin-top: 20px;
}

.Plants{
    margin-bottom: 30px;
}

.badge{
    width: 12rem;
    z-index: 1;
    margin-left: 300px;
    margin-right: -200px;
    position: relative;
    margin-top: -100px;
}

.human{
    margin-top: -110px;
    z-index: 0;
    position: relative;
}

#Deals{
    margin-top: 150px;
}

#text{
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

#shorter{
    color: white;
    font-size: 30px;
    font-weight: bold;
    
}

#shortest{
    color: white;
    font-size: 20px;
    font-weight: 300
}

#shorter_s{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.back_image{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2% 10%;
    gap: 30px;
}

.shop_now{
    position: absolute;
    top: 40%;
   text-align: center;
   justify-content: center;
   justify-items: center;
   left: 25%;

}

#dual{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

#bloom-plant, #ana-plant, #zabo-plant{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    height: 300px;
    background-size: cover;
    background-position: center;
}

#zabo-plant{
    height: 630px;
}